snippet ngroute "Defines an Angular ngRoute 'when' definition" b
.when('/${1:url}', {
    templateUrl: '${2:template}.html',
    controller: '${3:ControllerName}',
    controllerAs: '${4:vm}'
})${0}
endsnippet