snippet ngrun "Defines an Angular run phase function" b
.run(run${1:runName})

run${1:runName}.\$inject = ['${2:dependency}'];

/* @ngInject */
function run${1:runName}(${2:dependency}) {
    ${3}
}${0}
endsnippet