<snippet>
    <content><![CDATA[
(function() {
    'use strict';

    angular
        .module('${1:moduleName}', [
            '${2:dependency}'${3:,}
        ]);

})();
]]></content>
    <tabTrigger>ngapp</tabTrigger>
    <scope>text.plain, source.js</scope>
    <description>Creates an Angular module setter</description>
</snippet>