<snippet>
    <content><![CDATA[
.state('${1:state}', {
    url: '/${2:url}',
    templateUrl: '${3:template}.html',
    controller: '${4:ControllerName}',
    controllerAs: '${5:vm}'
})
]]></content>
    <tabTrigger>ngstate</tabTrigger>
    <scope>text.plain, source.js</scope>
    <description>Creates an Angular UI Router state definition</description>
</snippet>